/* Reset default styles and set up basic styling */
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0464c4;  
  width: 100vw;
  height: 100vh;
}

/* Navigation styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #343a40;
  color: white;
}

nav a,
nav button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

nav a:hover,
nav button:hover {
  background-color: #16d0e1;
}

/* Button styling */
nav button {
  background-color: #28a745;
  color: white;
}
