
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DR. KUDALE'S CLINIC</title>
  <link rel="stylesheet" href="./Css/Homepage.css"> <!-- Link to your CSS file -->
</head>

<body>
  <!-- Preloader -->
  <div class="preloader">
    <div class="loader">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>
      <div class="">
      
          <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
          <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
      </div>
    </div>
  </div>
  <!-- End Preloader -->
  <div class="container">
    <div class="slider">
      <img src="./Pictures/Dr.Mahesh Kudale.jpeg" alt="Image 1">
      <img src="image2.jpg" alt="Image 2">
      <img src="image3.jpg" alt="Image 3">
      <img src="image4.jpg" alt="Image 4">
      <img src="image5.jpg" alt="Image 5">
    </div>
  </div>

  <!-- Navigation -->
  <div class="main-menu">
    <nav class="navigation">
      <ul class="nav menu">
        <li><a href="./views/Homepage.ejs"><button><span>Home</span></button></a></li>
        <li><a href="./Contactss.ejs"><button><span>Contact Us</span></button></a></li>
        <li><a href="./Service.ejs"><button><span>Services</span></button><i class="icofont-rounded-down"></i></a>
          <ul class="dropdown">
            <li><a href="Service.html">Service 1</a></li>
            <li><a href="Service.html">Service 2</a></li>
            <li><a href="Service.html">Service 3</a></li>
            <li><a href="Service.html">Service 4</a></li>
            <li><a href="Service.html">Service 5</a></li>
          </ul>
        </li>
        <li><a href="./views/AboutDoctors.ejs"><button><span>About Doctors</span></button><i class="icofont-rounded-down"></i></a>
          <ul class="dropdown">
            <li><a href="./views/DrMaheshKudale.ejs">Dr. Mahesh Kudale</a></li>
            <li><a href="./DrSheetalKudale.ejs">Dr. Sheetal Kudale</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End Navigation -->

  <!-- Main Content -->
  <main>
    <div class="main-photo">
      <!-- Add your main photo of the clinic here -->
      <!-- Example: <img src="clinic_photo.jpg" alt="Clinic Photo"> -->
    </div>
    <!-- Add other content for your homepage here -->
  </main>

  <!-- Include JavaScript file -->
  <script type="text/javascript" src="./Js/Homepage.js"></script>
</body>

</html>
 